html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "uname") Username:
            input(name = "uname",type="text", placeholder = "User name")
         br
         div
            label(for = "pass") Password:
            input(name = "pass",type="password", placeholder= "Enter Password")
         br
         button(type = "submit") LOGIN
